*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background:rgb(235, 249, 229);
    height: 100vh;
}

html{
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    font-size: 35px;
    font-weight: 700;
    color: rgb(36, 36, 36);
}

.navbar .logo .logo-dot{
    color: rgb(138, 82, 212);
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    color: black;
    font-weight: 500;
    transition: .6s;
}

.navbar .nav-info{
    position: sticky;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: rgb(138, 82, 212);
}   

.home{
    display: flex;
    align-items: center;
    height:100vh;
    padding: 60px 5% 0;
    color: black;
    width: 100%;
}

.home-info{
    text-align: start;
}

.home-info h1{
    font-size: 70px;
    font-weight: 700;
}
.home-info h2{
    font-size: 50px;
    font-weight: 500;
}

.home .home-web {
    color: rgb(138, 82, 212);
    overflow: hidden;
    border-right: 4px solid rgb(235, 249, 229); /* Zorgt voor de cursor */
    white-space: nowrap;
    animation: typing 3s steps(25, end), blink-caret .75s 4; /* Typing animatie met knipperende cursor */
    display: inline-block;
}
.home h2{
    display: flex;
    gap: 12px;
}

/* Typing animatie */
@keyframes typing {
    from {
        width: 0; /* Start zonder tekst */
    }
    to {
        width: 39%; /* De breedte van het volledige element */
    }
}

/* Knipperende cursor */
@keyframes blink-caret {
    from, to {
        border-color: transparent; /* Cursor onzichtbaar */
    }
    50% {
        border-color: black; /* Cursor zichtbaar */
    }
}

.home-info p{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    width: 80%;
}

.home-info .home-acn{
    color: rgb(138, 82, 212);
}


.home .home-info .btn-sci{
    margin-top: 30px;
}
.btn{
    color: white;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(138, 82, 212);
    border: 2px solid;
    border-radius: 23px;
    padding: 15px 25px;
    transition: .6s;
}

.btn:hover{
    background-color:white;
    color:  rgb(138, 82, 212);
    box-shadow: 0px 0px 15px rgb(138, 82, 212);
}
.btn:active{
    background-color: rgb(138, 82, 212);
    color: white;
}

.home-img .img-box{
    width: 32vw;
    height: 32vw;
    background-color: rgb(138, 82, 212);
    box-shadow: 0px 0px 40px rgb(138, 82, 212);
    border-radius: 50%;
    padding: 5px;
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: .6s;
}

.home-img .img-box .img-item img:hover{
    filter: grayscale(10%);
}

.home .home-info .btn-sci{
    display: flex;
    justify-content: start;
    align-items: center;
}

.home .home-info .btn-sci  a i{
    color: rgb(138, 82, 212);
    padding: 5px;
    font-size: 2.3rem;
    transition: .5s;
    }

    .home .home-info .btn-sci  a i:hover,
    .home .home-info .btn-sci  a i:active{
    color: rgb(187, 143, 244);
}


.about{
    height: 100vh;
}